<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/red.css' %}">
    <title>Document</title>
</head>
<body>
    <table border="black">
    <tr>
        <th>Name</th>
        <th>best</th>
        <th>average</th>
        <th>wrost</th>
    </tr>
    
    {%for a in teacher %}
    <tr>
    <td>{{a.name}}<br></td>
    <td>{{a.best}}<br></td>
    <td>{{a.average}}<br></td>
    <td>{{a.worst}}<br></td>
    </tr>
    {%endfor %}

    </table>
</body>
</html>