<!DOCTYPE html>
<html lang="en">

<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/red.css' %}">
    <title>Rating</title>
</head>

<body>
    <form method="post">
        {% csrf_token %}
        <table border="black">
            <tr>
                <th>Name</th>
                <th>best</th>
                <th>average</th>
                <th>wrost</th>
            </tr>

            {%for a in teacher %}
            <tr>
                <td>{{a.name}}<br></td>
                <td><input type="radio" name="{{ a.name }}" value="0"><br></td>
                <td><input type="radio" name="{{ a.name }}" value="1"><br></td>
                <td><input type="radio" name="{{ a.name }}" value="2"><br></td>

            </tr>
            {%endfor %}

        </table>
        <button type="submit">submit review</button>
    </form>
</body>

</html>